@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root{
    --black-color: black;
    --hover-color: lightgray;
    --container-color: whitesmoke;
    
    --container-color: blueviolet;
    --header-color: brown;
    --sub-header-color: greenyellow;
    --containers-images-color: blue;
    --header_title_color: forestgreen;
    --attendance_control_color: darkorange;
    --container-title-color: deeppink;
    --container-date-time-color: cadetblue;
    --place_of_care-color: chartreuse;
    /*
    --reported_defect-color: blue;
    --container-services-color: burlywood;
    --container-technician-and-user-color: crimson;
    --technician-color: darkolivegreen;
    --registration-color: darkseagreen;
    --user-color: coral;
    --footer-color: hotpink;
    --footer-title-color: firebrick; */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
}

/* header - header - header - header - header - header - header - header - header - header - header - header - header */
.header {
    background-color: var(--hover-color);
    height: 10rem;
    width: 100%;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--black-color);
}

.sub-header{
    background-color: var(--sub-header-color);
    height: 10rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.containers-images {
    background-color: var(--containers-images-color);
    height: 10rem;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 7rem;
    width: 10rem;   
}

#bandeira-pernambuco {
    border: 1px solid var(--black-color);
}

.header_title {
    background-color: var(--header_title_color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_title h1 {
    font-size: 2.5rem;
}

.header_title h2 {
    font-size: 1.5rem;
    padding: 0.3rem;
}

/* container - container - container - container - container - container - container - container - container - container */
.attendance_control {
    background-color: var(--attendance_control_color);
    order: 2;
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title {
    background-color: var(--container-title-color);
    order: 1;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-title h2 {
    font-size: 2rem;
    width: auto;
    border-bottom: 1px solid var(--black-color);
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.container-form {
    width: 100%;
    order: 2;
}

.container-date-time {
    background-color: var(--container-date-time-color);
    order: 1;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.place_of_care,
.date_and_time {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.place_of_care {
    background-color: var(--place_of_care-color);
}

.place_of_care label,
.date_and_time label {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem;
}
.place_of_care input,
.date_and_time input {
    text-decoration: none;
    width: 25rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 10px;
    
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;

    padding-right: 1.5rem;
    margin-left: 6.7rem;

}

/* parei - parei - parei - parei - parei - parei -  */
.container-services {
    background-color: var(--container-services-color);
    order: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.reported_defect,
.performed_services {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.reported_defect {
    background-color: var(--reported_defect-color);
}

.reported_defect label,
.performed_services label {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem;
}


.reported_defect textarea,
.performed_services textarea {
    display: flex;
    flex-wrap: wrap;

    width: 85.3%;
    border-radius: 10px;
    border: 1px solid var(--black-color);

    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-left: 6.7rem;
}

.reported_defect textarea {
    height: 7rem;
}

.container-technician-and-user {
    background-color: var(--container-technician-and-user-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.technician {
    background-color: var(--technician-color);
    display:flex;
    flex-direction: column;
    flex: 1;
}

.registration {
    background-color: var(--registration-color);
    display:flex;
    flex-direction: column;
    flex: 1;
}

.user {
    background-color: var(--user-color);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1.5;
}

.technician label,
.registration label,
.user label {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 0 0.5rem;
}

.technician_input,
.registration_input {
    width: 15rem;
    height: 2.5rem;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-left: 4rem;

    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

#user_name,
#user_registration {
    margin-left: 5rem;
    width: 22rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

#button-to-view {
    border: 1px solid var(--black-color);
    border-radius: 10px;
    width: 10rem;
    height: 2.5rem;
    margin: 1.4rem 0rem 0rem 11rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--hover-color);
    cursor: pointer;
}

#signature {
    border-bottom: 1px solid var(--black-color);
    width: 22rem;
    margin-left: 5rem;

}

/* footer - footer -  footer -  footer -  footer -  footer  footer -  footer -  footer -  footer -  footer - */
.footer {
    background-color: var(--hover-color);
    order: 3;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    border-top: 1px solid var(--black-color);
    margin-top: 1rem;
}

.footer-title {
    background-color: var(--footer-title-color);
    color: var(--black);
    flex: 1;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.links-social-media {
    flex: 1.2;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;

}

.links-social-media a {
    display: flex;
    width: 4rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    margin-left:1rem;
    color: var(--black-color);
    border-radius: 10px;
    border: 1px solid var(--black-color);
}

.fa-brands, .fa-solid {
	font-size: 1.5rem;
}

/* hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover - hover*/
.reported_defect textarea:hover,
.performed_services textarea:hover,
.place_of_care input:hover,
.date_and_time input:hover,
.technician_input:hover,
.registration_input:hover,
#user_name:hover,
#user_registration:hover {
    background-color: var(--hover-color);
}

.links-social-media a:hover,
#button-to-view:hover {
    background-color: var(--container-color);
}