* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root {
    --white-color: #dbdbdb;
    --red: #FF1301;
    --blue: rgb(0, 95, 152);
    --yellow: #FFCB02;
    --green: #049934;
    --black: #000000;
    --white: #ffffff;
    --gray: #bdbdbd;
    --card-color: #005F98;
    --card-background-color: rgb(245, 245, 245);
}

html, body {
    width: 100%;
    height: 100%;
}

.largura_da_pagina {
    width: 1024px;
    margin: 0 auto;
    border: 1px solid greenyellow;
}

header {
    background-color: var(--blue);
    color: var(--white);
    height: 162px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-size: 32px;
}

.bandeiras {
    height: 160px;
    border: 1px solid var(--black);
}

.section-police-unit input { 
    width: 90%;

    border: 0.063rem solid black;
    border-radius: 5px;
    
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    padding: 0.5rem 0.3rem;
}

span {
    font-weight: bold;
}







/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.boxSocialMedia {
    padding: 10px 10px 10px 0;
}

.linksSocialMedia {
    list-style: none;
    flex: 1.2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:0.5rem;
    flex-flow: wrap;
}

.buttonsSocialMedia {
    display: flex;
    width: 4rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    margin-left:1rem;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 5px;
}

.fa-brands, .fa-solid {
    font-size: 1.5rem;
}

.buttonsSocialMedia:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
}


.rodape {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:var(--blue);
    padding: 1rem 0;
}

.textoRodape {
    color: var(--white);
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.textoRodape span{
    font-weight: bold;
    padding-left: 0.4rem;
}