@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --background-color: whitesmoke;

    --blue: rgb(71, 148, 236 );
    --dark-blue: rgb(0, 75, 161);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(143, 143, 143);
    
    --background-model: rgba(0,0,0,0.8);
    --background-box-model:rgb(68, 103, 246);
    --modal-button: rgb(242, 129, 129);
    --modal-button-hover: rgb(0, 128, 0);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rajdhani', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	color:--black-color;
    background-color: var(--background-color);
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    width: 100vw;
}

.header {
    /* background-color: brown; */
    order: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-bottom: 1px solid black;
}

.header .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.7;
}

.header img {
    height: 7rem;
    width: 10rem;   
}

#bandeira-pernambuco {
    border: 1px solid black;
}

.header_title {
    display: flex;
    flex:3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_title h1 {
    font-size: 3rem;
}

.header_title h2 {
    font-size: 1.5rem;
    padding: 0.3rem;
}

.attendance_control {
    order: 2;
    background-color: chocolate;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:3;
}

.container-title {
    flex:0.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.container-title h2 {
    font-size: 2rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-bottom: 1px solid black;
}

.container-date-time {
    flex:0.7;
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.place_of_care,
.date_and_time {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.place_of_care label,
.date_and_time label,
.reported_defect label,
.performed_services label {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-left: 4rem;
}

.place_of_care input, .date_and_time input {
    margin-left: 4rem;
    width: 30rem;
    height: 2.5rem;
    display: flex;
    text-align: center;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 1.5rem;
    font-weight: 600;
}

/* PAREI  */
.container-services{ 
    background-color: chartreuse;
    flex: 3;
    width: 100vw;
    display: flex;
}

.reported_defect,
.performed_services {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.reported_defect textarea,
.performed_services textarea {
    margin-left: 4rem;
    width: 35rem;
    border-radius: 15px;
    border: 2px solid black;

    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    background-color: lightgray;
}

.container-technician {
    flex:1;
}

.footer {
    order: 3;
    display: flex;
	flex-direction: row;
	order: 3;
	flex: 0.5;
	background-color:var(--dark-blue);
}

.footer-title {
    color: var(--black);
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem;
}

.links-social-media {
    list-style: none;
	flex: 1.2;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding:0.5rem;
	flex-flow: wrap;
}

.links-social-media a {
    display: flex;
    width: 4rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    margin-left:1rem;
    background-color: var(--gray);
    color: var(--black);
    border-radius: 5px;
    /* box-shadow: var(--black) 0.2rem 0.2rem 0.5rem; */
}

.links-social-media a:hover {
	background-color: var(--modal-button-hover);
}

.fa-brands, .fa-solid {
	font-size: 1.5rem;
}