:root {
  --background-color: rgb(71, 148, 236 );
  --color-text: #eee;
  --background-color-athlete-name: rgb(0, 75, 161);
}

.header {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: var(--background-color);
  color: var(--background-color-athlete-name);
  font-size: 45px;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: var(--background-color-athlete-name);
  color: var(--color-text);
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.button {
  background-color: var(--background-color);
  height: 50px;
  padding: 0 10px;
  border-radius: 5px;
  width: 250px;
  font-size:20px;
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: var(--color-text);
  color: var(--background-color);
}

.athlete-name{
  display: flex;
  justify-content: left;
  padding: 1em;
  background-color: var(--background-color-athlete-name);
  color: var(--color-text);
  font-size: 40px;
}

.repetitions,
.time {
  display: flex;
  justify-content: center;
  height: 50%;
  font-size: 80px;
  font-weight: bold;
  color: var(--color-text);
  padding: 20px;
  /* border: 1px solid black; */
}

