:root {
  --blue: rgb(71, 148, 236 );
  --dark-blue: rgb(0, 75, 161);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}


/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--dark-blue);
  font-size: 4rem;
  font-weight: bold;
  line-height: 8.5rem;
}

/*BOX ATHLETE NAME BOX ATHLETE NAME BOX ATHLETE NAME BOX ATHLETE NAME */
.box-athlete-name{
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;
  justify-content: center;
  align-items: flex-start;
  line-height: 7rem;
  font-size: 5rem;
  background-color: var(--dark-blue);
  color: var(--white);
}

/* TIME TIME TIME TIME TIME TIME TIME TIME TIME TIME TIME TIME */

.box-time {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
  justify-content: center;
  align-items: center;
}

.timeContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: var(--black);
}

.timeContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.timeContainer > div span {
  flex: 1;
}

.timeContainer > div span:first-child {
  border-right: 1px solid #f0f1f3;
}

.timeContainer > div span:last-child {
  border-left: 1px solid #f0f1f3;
}

.timeContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.timeButton, .button {
  width: 20rem;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background-color: var(--blue);
  color: var(--white);

  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.5s;
}

.timeButton:hover, .button:hover {
  background-color: var(--dark-blue)
}


/* REPETITATIONS REPETITATIONS REPETITATIONS REPETITATIONS REPETITATIONS */
.box-repetitions {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 8rem;
  font-weight: bold;
  color: var(--white);
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  flex: 0.5;
  order: 4;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--white);
  width: 100%;
  line-height: 1rem;
}

/* REGISTRATION REGISTRATION REGISTRATION REGISTRATION REGISTRATION */
.container-registration {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.athlete-form {
  display: flex;
  flex-direction: column;
  flex: 4;
  order: 2;
  justify-content: center;
  align-items: center;
}

.title-athlete-form{ 
  font-size: 3rem;
  color: var(--black);
  padding: 1rem;
}

.text-athlete-form {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.inputs-athlete {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.standard-form {
  display: flex;
  flex-direction: row;
}

.input {
  height: 3rem;
  margin-top: 2rem;
  margin-right: 3rem;
  margin: 2rem 2rem 0 0;
  

  display: flex;
  flex-direction: row;

  border: 0;
  border-radius: 5px;

  font-size: 2rem;
  font-weight: 600;
  padding: 0 1rem;
}

.input-athlete-name,
.input-athlete-test,
.input-kettlebell-weight,
.input-exam-time {
  width: 25rem;
  height: 3rem;
  margin-top: 2rem;

  display: flex;
  text-align: center;

  border: 0;
  border-radius: 5px;

  background-color: var(--white);
  color: var(--black);

  font-size: 1.25rem;
  font-weight: 600;

}

