.container {
  background-color: rgb(168, 165, 165);
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container div {
  border: 1px solid black;
  padding: 10px;
  background-color:lightblue;
}

.container .box-1 {
  flex-basis: 33%;
  align-self: flex-start;
}

.container .box-2 {
  flex-basis: 33%;
}

.container .box-3 {
  flex-basis: 33%;
  align-self: flex-end;
}
