* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #2d3436;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7675;
    color: #FFFFFF;
    font-size: 20px;
}

.testeGpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px auto;
}

.meuBotao {
    display: inline-block;
    width: 180px;
    margin-top: 20px;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border: 2px solid #3498db;
    z-index: 1;
}

.meuBotao::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3498db; /* Cor de fundo */
    z-index: -1;
}

/* esquerda para direita */
.meuBotao1::before {
    top: 0;
    left: -100%;
    transition: left 0.3s ease-in-out;
}

.meuBotao1:hover::before {
    left: 0;
}

/* direita para esquerda */
.meuBotao2::before {
    top: 0;
    right: -100%;
    transition: right 0.3s ease-in-out;
}

.meuBotao2:hover::before {
    right: 0;
}

/* topo para baixo */
.meuBotao3::before {
    top: -100%;
    left: 0;
    transition: top 0.3s ease-in-out;
}

.meuBotao3:hover::before {
    top: 0;
}

/* baixo para topo */
.meuBotao4::before {
    bottom: -100%;
    left: 0;
    transition: bottom 0.3s ease-in-out;
}

.meuBotao4:hover::before {
    bottom: 0;
}