@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
		--grey: rgb(122, 139, 150);
		--white-color: #dbdbdb;
		--black-color: #000;
		--white: #ffffff;
}

@media(max-width:1080px){
	html{
		font-size: 93.75%;
	}
}

@media(max-width:720px){
	html{
		font-size: 87.5%;
	}
}

@media(max-width:500px){
	html{
		font-size: 82.5%;
	}
}

@media(max-width:300px){
	html{
		font-size: 75.5%;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color:--black-color;
}

.container {
	display: flex;
	flex-direction: column;
	height:100vh;
	background-color: var(--white);
}

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */

.header {
	background-color: var(--grey);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	order: 1;
	flex: 1;
}

.header h1 {		
	font-size: 3rem;
	width: auto;
	padding: 1.5rem;
}

.main {
	display: flex;
	flex-direction: column;
	order: 2;
	flex: 4;
	border-top: 2px solid var(--black-color);
	border-bottom: 2px solid var(--black-color);
}

/* BOX's - BOX's - BOX's - BOX's - BOX's - BOX's - BOX's*/
.main .box-instructions {
	display: flex;
	flex-direction: column;
	order: 1;
	flex: 1;
}

.main .box-input-generator {
	order: 2;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.main .box-result-generator {
	order: 3;
	flex: 1;
	display: flex;
	flex-direction: column;
}
		
/* TITLES - TITLES- TITLES- TITLES - TITLES*/

.main .box-instructions .title-instructions,
.main .box-input-generator .title-generator {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center;
	align-items: center;
	order: 1;
	height: 10rem;
	font-size: 2.5rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

/* BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX */

.main .box-instructions .text-instructions {
	display: flex;
	flex-direction: column;    
	flex: 1;
	order: 2;
}

.main .box-instructions .text-instructions .paragraph-instructions {
	display: flex;
	flex-direction: column;
	flex:1;
	justify-content: center;
	align-items:center;
}

.main .box-instructions .text-instructions .paragraph-instructions p{
	font-size: 1.5rem;
	text-align: justify;
	padding: 1rem;
}

.main .box-instructions .text-instructions .list-instructions {
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

.main .box-instructions .text-instructions .list-instructions li{
	font-size: 1.5rem;
	text-align:justify;
	padding: 0.5rem;
}

.main .box-input-generator {
	flex: 1;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	order: 2;
}

.main .box-input-generator .input-generator {
	order:2;
	display:flex;
	flex-direction:column;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	height:100%;
	width:100%;
}

.main .box-generator .generator .input-generator p {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	font-size: 1.2rem;
	text-align:justify;
}

.main .box-generator .generator .input-generator input {    
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 2.5rem;
	padding: 0 1.5rem;
	border-radius: 5px;
}

.main .box-generator .generator .input-generator ::-webkit-input-placeholder {
	display:flex;
	color: grey;
	font-size:0.8rem;
}   


.main .box-generator .generator .input-generator button {
	border: 0;
	height: 2.5rem;
	padding: 0 1.5rem;
	font-size: 1.2rem;
	text-align:center;
	color:white;
	text-shadow: 1px 1px 1px var(--black-color);
	border-radius: 5px;
	background-color: rgb(95, 92, 92);
	box-shadow: 1px 1px 1px 1px black;
	cursor:pointer;
}

.main .box-generator .generator .input-generator button:hover {
	background-color: grey;
}

.main .box-generator .generator .result-generator {
	flex:1;
	order:2;
	height:100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.main .box-generator .generator .result-generator p {
	padding: 1rem;
	font-size: 1.2rem;
	text-align: justify;
}

.main .box-generator .generator .result-generator #password {
	font-size: 1.5rem;
}

.main .box-generator .generator .result-generator li{
	list-style: none;
	padding:0.8rem;
	font-size:1.2rem;
}

.main .box-generator .generator .result-generator .result-password {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

.main .box-generator .generator .result-generator .result-password #copy-password-button {
	border:0;
	height: 2.5rem;
	padding: 0 1rem;
	font-size: 1.2rem;
	text-align:center;
	box-shadow: 1px 1px 1px 1px black;
	border-radius: 5px;
	background-color:rgb(95, 92, 92);
	cursor:pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main .box-generator .generator .result-generator .result-password #copy-password-button:hover {
	background-color: grey;
}

.main .box-generator .generator .result-generator .result-password #copy-password-button img {
	height: 1.5rem;
}

/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.box-footer {
	background-color: var(--grey);
	display: flex;
	flex-direction: row;
	order: 3;
	flex: 0.65;
	flex-flow: wrap;
}

.box-footer .footer-title {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    padding:1rem;
}

.box-footer .links-social-media {
	list-style: none;
	flex: 1.5;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding:0.5rem;
    flex-flow: wrap;
}

.box-footer .links-social-media a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0.5rem;
	border: 1px solid var(--black-color);
	border-radius: 5px;
	margin-left:0.5rem;
	width: 7rem;
}

.box-footer .links-social-media a:hover {
	background-color: var(--white-color);	
}
