@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
		--grey-A: rgb(122, 139, 150);
		--grey-B:rgb(118, 186, 232);
		--grey-C:rgb(184, 210, 227);
		--grey-D:rgb(51, 80, 99);
		--grey-E: rgb(143, 163, 176);
		--white-color: #dbdbdb;
		--black-color: #000;
		--white: #ffffff;
}

@media(max-width:1080px){
	html{
		font-size: 93.75%;
	}
}

@media(max-width:720px){
	html{
		font-size: 87.5%;
	}
}

@media(max-width:500px){
	html{
		font-size: 82.5%;
	}
}

@media(max-width:300px){
	html{
		font-size: 75.5%;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color:--black-color;
}

.container {
	display: flex;
	flex-direction: column;
	height:100vh;
}

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */

.header {
	background-color: var(--grey-A);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	order: 1;
	flex: 1;
}

.header h1 {		
	font-size: 3rem;
	width: auto;
	padding: 1.5rem;
}

.main {
	display: flex;
	flex-direction: row;
	order: 2;
	flex: 4;
	border-top: 2px solid var(--black-color);
	border-bottom: 2px solid var(--black-color);
	background: var(--grey-C);
}

/* BOX's - BOX's - BOX's - BOX's - BOX's - BOX's - BOX's*/
.main .box-instructions {
	order: 1;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main .box-input-generator {
	order: 2;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	width:100%;
}
		
/* TITLES - TITLES- TITLES- TITLES - TITLES*/

.main .box-instructions .title-instructions,
.main .box-input-generator .title-generator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	order: 1;
	line-height: 6rem;
	width: 100%;
	font-size: 2.5rem;
	border-bottom: 1px solid var(--black-color);
	background-color: var(--grey-E);
}

/* BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX - BOX */

/* instructions */
.main .box-instructions .text-instructions {
	display: flex;
	flex-direction: column;    
	flex: 2;
	order: 2;
	background-color: var(--grey-E);
	width: 100%;
}

.main .box-instructions .text-instructions .paragraph-instructions {
	display: flex;
	flex-direction: column;
	flex:1;
	justify-content: center;
	align-items:center;
	padding-top: 1rem;
}

.main .box-instructions .text-instructions .paragraph-instructions p{
	font-size: 1.5rem;
	text-align: justify;
	padding: 1rem;
}

.main .box-instructions .text-instructions .list-instructions {
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	padding-bottom: 1rem;
}

.main .box-instructions .text-instructions .list-instructions li{
	font-size: 1.5rem;
	text-align:justify;
	padding: 0.5rem;
}

/* input generator */
.main .box-input-generator .input-generator {
	order:2;
	display:flex;
	flex-direction: column;
	flex: 2;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	width: 100%;
	background-color: var(--grey-E);
}

.main .box-input-generator .input-generator p {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	font-size: 1.5rem;
	text-align: justify;
}

.main .box-input-generator .input-generator input {    
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 2.5rem;
	padding: 0 1.5rem;
	border-radius: 5px;
	margin-top: 1.5rem;
}

.main .box-input-generator .input-generator input::-webkit-input-placeholder {
	display:flex;
	color: grey;
	font-size: 0.9rem;
	text-align: center;
}   

.main .box-input-generator .input-generator button {
	border: 0;
	height: 2.5rem;
	padding: 0 1.5rem;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	text-align:center;
	color:var(--white);
	text-shadow: 1px 1px 1px var(--black-color);
	border-radius: 5px;
	background-color: var(--grey-D);
	box-shadow: 1px 1px 1px 1px black;
	cursor:pointer;
}

.main .box-input-generator .input-generator button:hover {
	background-color: var(--grey-A);
}

/* modal password */
#openModal {
	text-decoration: none;
	display: flex;
	align-items: center;
	border: 0;
	height: 2.5rem;
	padding: 0 1.5rem;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	text-align:center;
	color:var(--white);
	text-shadow: 1px 1px 1px var(--black-color);
	border-radius: 5px;
	background-color: rgb(196, 4, 4);
	box-shadow: 1px 1px 1px 1px black;
	cursor:pointer;
	opacity: 1;
}

#openModal:hover {
	opacity: 0.7;
}


.container .modal-password {
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.container .modal-password:target {
  opacity: 1;
  pointer-events: auto;
}

.container .modal-password .box-modal-password {
	width: 30rem;
	max-height: 25rem;
  position: relative;
  margin: 15% auto;
  padding: 15px 20px;
  background-color: rgb(68, 103, 246);
  border-radius: 5px;
}

.container .modal-password .box-modal-password .header-modal {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
	padding-bottom: 1rem;
}

.container .modal-password .box-modal-password .header-modal .title-modal-password {
	font-size: 2rem;
}

/* button close modal */
.container .modal-password .box-modal-password .header-modal #close-modal {
	text-decoration: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: rgb(242, 129, 129);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
}

.container .modal-password .box-modal-password .header-modal #close-modal:hover {
	opacity: 0.7;
}


.container .modal-password .box-modal-password .text-modal-password {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .modal-password .box-modal-password .text-modal-password p {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
}

.container .modal-password .box-modal-password .text-modal-password li {
	list-style: none;
	font-size: 1.2rem;
	padding: 0.5rem;
}

.container .modal-password .box-modal-password .result-password {
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 1rem;
}

/* button copy */
.container .modal-password .box-modal-password .result-password #copy-password-button {
	text-decoration: none;
	width: 5rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: rgb(242, 129, 129);
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
	cursor: pointer;
}

.container .modal-password .box-modal-password .result-password #copy-password-button:hover {
	opacity: 0.7;
}

/* password */
.container .modal-password .box-modal-password .text-modal-password #password {
	font-weight: bold;
}

/* BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER - BOX-FOOTER */
.box-footer {
	background-color: var(--grey-A);
	display: flex;
	flex-direction: row;
	order: 3;
	flex: 0.65;
	flex-flow: wrap;
}

.box-footer .footer-title {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
    padding:1rem;
}

.box-footer .links-social-media {
	list-style: none;
	flex: 1.5;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding:0.5rem;
    flex-flow: wrap;
}

.box-footer .links-social-media a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0.5rem;
	border: 1px solid var(--black-color);
	border-radius: 5px;
	margin-left:0.5rem;
	width: 7rem;
}

.box-footer .links-social-media a:hover {
	background-color: var(--white-color);	
}
