.container {
  display: flex;
  flex-direction: column;
  height:100vh;
  /* background-color: var(--white); */
}


.box-time-reps {
  display: flex;
  flex-direction: row;
  flex: 4;
  order: 3;
  border: 2px solid greenyellow;
}


.container-buttons {
    background-color: #444;
    margin: 10% 50px;
    padding: 50px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
}

.container-body {
  background-color: rgb(0, 108, 232);
  display: flex;
  flex-direction: column;
}

.container-operator {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
  display: flex;
}

.time-and-reps {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction:column;
}

.operation-button {
  width: 40%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 75, 161);
  flex: 2;
} 

