@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(0, 108, 232);
}

:root {
    --blue: rgb(71, 148, 236 );
    --dark-blue: rgb(0, 75, 161);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

@media(max-width:1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width:720px){
    html{
        font-size: 87.5%;
    }
}

@media(max-width:500px){
    html{
        font-size: 82.5%;
    }
}

@media(max-width:300px){
    html{
        font-size: 75.5%;
    }
}

.container-registration {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--dark-blue);
    font-size: 4rem;
    font-weight: bold;
    line-height: 8.5rem;
}

.footer {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    order: 4;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    color: var(--white);
    width: 100%;
    line-height: 1rem;
}

.box-registration {
    display: flex;
    flex-direction: column;
    flex: 4;
    order: 2;
    justify-content: center;
    align-items: center;
}

.title-registration {
    font-size: 3rem;
    color: var(--black);
    padding: 1rem;
}

.text-registration {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form .form-control {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.form .form-control label {
    display: inline-block;
    margin-bottom: 0.3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.form .form-control .input {
    height: 2.5rem;
    width: 18rem;
  
    border: 0;
    border-radius: 5px;
  
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1rem;
}

.form .form-control i {
    position: absolute;
    top: 1rem;
    padding: 0 1rem;
    /* visibility: hidden; */
}

.form .form-control small {
    position: absolute;
    top: 0.9rem;
    padding: 0 3rem;
    /* visibility: hidden; */
  }

.form .button {
    width: 20rem;
    height: 4rem;
    margin-bottom: 1rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 0;
    border-radius: 5px;
  
    background-color: var(--blue);
    color: var(--white);
  
    font-size: 1.25rem;
    font-weight: 600;
  
    transition: background-color 0.5s;
    cursor: pointer;
  }
  
  .form .button:hover {
    background-color: var(--dark-blue)
  }