* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.container {
  background-color: #333;
  color: #eee;
  width: 80%;
  box-sizing: border-box;
  
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*  Mesma coisa que acima */
  margin: auto;
  
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  /*  Mesma coisa que acima */
  padding: 20px;

  border-top: 10px solid rgb(0, 0, 255);
  border-left: 10px solid rgb(255, 0, 0);
  border-right: 10px solid rgb(0, 255, 0);
  border-bottom: 10px solid rgb(255, 255, 0);
  /*  Mesma coisa que acima */
  border: 10px solid brown;

}

.main-aside h2 {
  text-align: center;
}

.main-aside h2:hover {
  color: green;
  cursor: pointer;
}

.main-aside ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.main-aside ul a {
  text-decoration: none;
  color: black;
}

.main-aside ul a:hover {
  color: red;
}

/* Formulários */

.main-form {
  padding-left: 20px;
}

.main-form .form-group {
  padding-bottom: 10px;
}

.main-form .form-group input {
  padding: 10px;
  width: 100%;
}

.main-form .form-group label {
  display: block;
}

.button {
  padding: 15px;
  background-color:#333;
  color: #eee;
  border: none;
}

.box {
  width: 80%;
  margin: auto;
}