* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  margin: 0;
}

.container {
  background-color: #333;
  color: #eee;
  width: 80%;
  box-sizing: border-box;
  
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  /*  Mesma coisa que acima */
  margin: auto;
  
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  /*  Mesma coisa que acima */
  padding: 20px;

  border-top: 10px solid rgb(0, 0, 255);
  border-left: 10px solid rgb(255, 0, 0);
  border-right: 10px solid rgb(0, 255, 0);
  border-bottom: 10px solid rgb(255, 255, 0);
  /*  Mesma coisa que acima */
  border: 10px solid brown;

}

.main-aside h2 {
  text-align: center;
}

.main-aside h2:hover {
  color: green;
  cursor: pointer;
}

.main-aside ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.main-aside ul a {
  text-decoration: none;
  color: black;
}

.main-aside ul a:hover {
  color: red;
}

/* Formulários */

.main-form {
  padding-left: 20px;
}

.main-form .form-group {
  padding-bottom: 10px;
}

.main-form .form-group input {
  padding: 10px;
  width: 100%;
}

.main-form .form-group label {
  display: block;
}

.button {
  padding: 15px;
  background-color:#333;
  color: #eee;
  border: none;
}

.box {
  width: 80%;
  margin: auto;
}

/* Positions */
.relative {
  position: relative;
  border: 3px solid #333;
  height: 500px;
  border-radius: 7px;
}

.relative .absolute {
  position: absolute;
  bottom: 0;
}

.relative .absolute h1 {
  margin: 0;
}

/*  Barra de navegação */

#main-navbar {
  background-color: #333;
  color: #eee;
  padding: 1rem;
  text-align: center;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
}

/*  Fixed Button */
.fixed-button {
  background-color: #333;
  color: #eee;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 7px;
}

/* Categories */

.categories ul {
  list-style: none;
}

.categories ul li:first-child {
  color: red;
}

.categories ul li:last-child {
  color: green;
}

.categories ul li:nth-child(3) {
  color: blue;
}

.categories ul li:nth-child(even) {
  color: brown;
}

.categories ul li:nth-child(odd) {
  color: yellowgreen;
}
