@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color:#03c213;
  --secudary-color:#bfc203;
  --font-color: black;
  --background-container-color: whitesmoke;
}

* {
  margin-top: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  border: none;
  overflow: hidden;
}

.header {
  background: linear-gradient(90deg, var(--secudary-color) 0%, var(--primary-color) 100%);
  color: var(--font-color);
  font-size: 20px;
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  margin-top:15px;
}

.box {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secudary-color) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--background-container-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  margin-top: -200px; 
}

.caption {
  background-color: rgb(214, 214, 214);
  padding: 10px;
}

h2{
  margin-top: 15px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 93%;
  padding: 10px;
}

/* Checkbox */
.form-control-checkbox {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.form-control-checkbox p{
  margin-bottom: 10px;
  font-weight: bold;
}

.checkbox input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.form-control-checkbox label{
  display: inline;
  margin-right: 50px;
}

.form-control-checkbox i{
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control-checkbox small{
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.checkbox {
  content: '';
  border: 2px solid #f0f0f0;
  font-size: 15px;
  width: 93%;
  border-radius: 10px;
  padding: 10px;
 background-color: white; 
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background: linear-gradient(90deg, var(--secudary-color) 0%, var(--primary-color) 100%);
  border: 1px solid var(--font-color);
  color: #fff;
  font-size: 15px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}