.container-useState, 
.container-useEffect, 
.container-useRef,
.container-useReducer,
.third-container {
  min-width: 400px;
  max-width:500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
}

.useState-button, 
.useState-state, 
.useEffect, 
.buttons-useEffect,
.useRef, .useRef p,
.useReducer, .useReducer button, .useReducer p,
.message-button{
  margin-top: 20px;
}

.useContext{
  margin-bottom: 20px;
}