.container-useState, .container-useEffect {
  min-width: 400px;
  max-width:500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
}

.useState-button, .useState-state, .useEffect, .buttons-useEffect{
  margin-top: 20px;
}