.section-header {
    background-color: var(--blue);
    width: 100%;
    height: 14.063rem;
    padding: 1rem;
    flex-direction: column;
    position: relative;
}

.container-header {
    margin-top: 4.688rem;
    height: 100%;
}

.container-title-text {
    flex: 1 1 50%;
    height: 100%;
    justify-content: flex-start;
}

.title {
    font-size: 4.25rem;
    color: var(--white);
}

.container-header-images {
    flex: 1 1 50%;
    height: 100%;
    gap: 0.625rem;
    justify-content: flex-end;
}
  

.header-images {
    height: 6.5rem;
}

/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 901px e 1279px */
@media screen and (min-width: 901px) and (max-width: 1279px){
    .section-header {
        height: 13.5rem;
    }

    .page-width {
      width: 100%;
    }

    .container-header {
        width: 100%;
        padding: 0;
        margin-top: 4.3rem;
    }

    .title {
        font-size: 3.75rem;
    }

  }
  
  
  /* Para telas com largura entre 769px e 900px*/
  @media screen and (min-width: 769px) and (max-width: 900px){
    .section-header {
        height: 12.5rem;
    }

    .page-width {
      width: 100%;
    }

    .container-header {
        width: 100%;
        padding: 0;
        margin-top: 4rem;
    }

    .title {
        font-size: 3.25rem;
    }

    .header-images {
        height: 5.625rem;
    }

  }
  
  /* Para telas com largura entre 481px e 768px */
  @media screen and (min-width: 481px) and (max-width: 768px){
    .section-header {
        height: 11rem;
    }

    .page-width {
      width: 100%;
    }

    .container-header {
        width: 100%;
        padding: 0;
        margin-top: 3.7rem;
    }

    .title {
        font-size: 2.188rem;
    }

    .header-images {
        height: 4.688rem;
    }

  }
  
  /* Para telas com largura até e 480px */
  @media screen and (max-width: 480px){
    .section-header {
        height: 8rem;
    }

    .page-width {
      width: 100%;
    }

    .container-header {
        width: 100%;
        padding: 0;
        margin-top: 3.5rem;
    }


    .title {
        font-size: 1.688rem;
    }

    .header-images {
        height: 3.125rem;
    }

  }